require 'spec_helper'

def app
  ApplicationApi
end

describe <%= name.classify.pluralize %>Api do
  include Rack::Test::Methods

  describe 'e.g. GET, POST, PUT, etc.' do
    it 'needs tests to be written!' do
      pending('write tests for <%= name.classify.pluralize %>Api!')
    end
  end

end
